* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

.main__content-searched__film__item,
.main__content-searched__tv__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.flag {
  width: 2.4rem;
}
.vote {
  color: gold;
}
