* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

.main__content-searched__film {
  display: flex;
  flex-direction: column;
}
.flag {
  width: 2.4rem;
}
